p {
  margin: 0.5rem auto;
  max-width: 800px;
  text-align: center;
}
h1 {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
h2 {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
h3 {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
