p{
    margin: 0.5rem auto;
    max-width: 800px;
    text-align: center;
    
}
h1{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
h2{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
h3{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
#nav{
    width: 100%;
    background-color: #0077CC;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    display: inline-block;
    margin: auto;
    max-Width: 960;
    text-align: center;
    
  }
  #navBookNow{
  padding-left: 30px;
  text-decoration: none;
  }