.user {
  display: inline-block;
  align-items: center;
  margin: 0 auto 12px auto;
  cursor: default;
}


.user:last-child {
  margin-bottom: 0;
}

.img {
  flex: 0 0 96px;
  width: 96px;
  height: 96px;
  left: 60px;
}
.img-aws {
  flex: 0 0 96px;
  width: 280px;
  height: 96px;
  margin: 0;
  left: 40px;
}

.description {
  flex: 1;
  margin-left: 18px;
  padding: 12px;
}

.username {
  margin: 0 0 12px 0;
  padding: 0;
}

.excerpt {
  margin: 0;
}
a{
  margin-right: 15px;
  color: white;

}
a:visited{
  color: white;
  text-decoration: none;
}
h1{margin-top: 30px;}
article{
  background-color: #0077CC;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  max-width: 120px;
  margin-top: 0.8rem;
  padding: 5px;
}
.buttons{
  position: absolute;
  left: 40%;
}
#learnMore{
  display: inline-flex;
  margin-left: 0;
}
#bookNow{
  display: inline-flex;
  margin-left: 5px;
}
#banner{
  width: 100%;
  background-color: #33A9FF;
  padding-top: 30px;
  padding-bottom: 60px;
  margin: auto;
}

#banner-h1{
  text-align: center;
}
#banner-p{
  text-align: center;
}
#location-h1{
  text-align: center;
}
.location-p{
  text-align: center;
}

#nav{
  width: 100%;
  background-color: #0077CC;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  display: inline-block;
  margin: auto;
  max-Width: 960;
  text-align: center;
}
#navBookNow{
padding-left: 30px;
text-decoration: none;
}